{% extends "STFigureBundle::layout.html.twig" %}

{% block figures %}
<section id="myFigure">
        <div class="container">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">
					<h2>{{ figure.name }}</h2>
					Posted by <i>{{ figure.user.username }}</i> on {{ figure.updateDate|date("d/m/y") }}
					<p> {{ figure.description|raw }}</p>
					{% for typeFigure in types_figure %}
						<span class = "glyphicon glyphicon-bookmark">{{ typeFigure.name }}</span>
					{% endfor %}
					<br>
					{% if is_granted("ROLE_USER") %}
						<a href="{{ path('st_figure_edit', {'id': figure.id}) }}" class="glyphicon glyphicon-pencil">edit</a>
						<a href="{{ path('st_figure_delete', {'id': figure.id}) }}" class="glyphicon glyphicon-trash">delete</a>
					{% endif %}
				</div>
            
				<hr>
				{% for comment in comments %}
				<div class="row">
					{{ comment.user.username }} on {{ comment.updatedate|date("d/m/y") }}
					<br>
					<p>{{ comment.comment|raw }}</p>	
				</div>
				{% endfor %}
				<div class="row">
					<ul class="pager">
							<li class="next">
								<a href="{{ path('st_figure_view_by_10', {'name':figure.name, 'offset': paging.newestOffset}) }}" class="{{ paging.newestDisable }}">newest</a>
								<a href="{{ path('st_figure_view_by_10', {'name':figure.name,'offset': paging.oldestOffset}) }}" class="{{ paging.oldestDisable }}">oldest</a>
						</li>
					</ul>
				</div>
				{% if is_granted("ROLE_USER") %}
				<div class="row">
					<hr>
					<p>Add a new comment</p>
				</div>
				{{ form_start(form) }}		
				{{ form_rest(form) }}
				<div class="row">
					<hr>
					<div class="text-right">
						<button type="submit" class="btnsave btn btn-default">Save</button>
					</div>
				</div>
				{{ form_end(form) }}
				{% endif %}
        </div>
    </section>
  

{% endblock %}
