{% extends "STFigureBundle::layout.html.twig" %}

{% block figures %}
<section id="myFigure">
        <div class="container">
			<h2 class="text-center">Edit a figure</h2>
			<hr>
            <div class="row">
				<div class="col-lg-10 col-lg-offset-1">
				{% autoescape %}
					{{ form_start(form) }}
						{{ form_row(form.name) }}
						{{ form_row(form.description) }}
					
						{{ form_row(form.typeFigure) }}
					<div class="text-right">
  						<a href="#" id="add_category">Ajouter une catégorie</a>
					</div>
					{{ form_rest(form) }}
					<div class="row">
						<div class="text-right">
							<ul class="pager">
								<li class="next">
									<a href="{{ path('st_home') }}">Cancel</a>
									<button type="submit" class="btnsave btn btn-default">Save</button>
								</li>
							</ul>
                        </div>
					</div>
					{{ form_end(form) }}
					{% endautoescape %}
				</div>
			</div>
	</div>
	 <datalist id="categories">
		 {% for category in categories %}
		 <option value="{{ category.name }}">
		 {% endfor %}
	</datalist>
</section>
					
{% endblock %}