{% extends "STFigureBundle::layout.html.twig" %}

{% block figures %}
<section id="myFigure">
        <div class="container">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="row">
					{% for figure in figures %}

						<h2><a href="{{ path('st_figure_view', {'name': figure.slug}) }}">{{ figure.name }}</a></h2>
						<p>Posted by <i>{{ figure.username }}</i> on {{ figure.updateDate|date("d/m/y") }}</p>
						{% if is_granted("ROLE_USER") %}
							<a href="{{ path('st_figure_edit', {'id': figure.id}) }}" class="glyphicon glyphicon-pencil">edit</a>
							<a href="{{ path('st_figure_delete', {'id': figure.id}) }}" class="glyphicon glyphicon-trash">delete</a>
						{% endif %}
						<hr class="star-primary">
					{% endfor %}
				</div>
				<div class="row">
					<div>
						<ul class="pager">
							
							<li class="next">
								<a href="{{ path('st_figure_Par5', {'offset': paging.newestOffset}) }}" class="{{ paging.newestDisable }}">newest</a>
								
								<a href="{{ path('st_figure_Par5', {'offset': paging.oldestOffset}) }}" class="{{ paging.oldestDisable }}">oldest</a>
							
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
			</div>			
        </div>
  </section>
  

{% endblock %}
